In [1]:
import pandas as pd
df = pd.read_json('data/frontend_movies.json')

df.head()

,tconst,primaryTitle,originalTitle,startYear,runtimeMinutes,genres
0,tt0000009,Miss Jerry,Miss Jerry,1894,45,Romance
1,tt0000147,The Corbett-Fitzsimmons Fight,The Corbett-Fitzsimmons Fight,1897,100,"Documentary,News,Sport"
2,tt0000502,Bohemios,Bohemios,1905,100,\N
3,tt0000574,The Story of the Kelly Gang,The Story of the Kelly Gang,1906,70,"Action,Adventure,Biography"
4,tt0000591,The Prodigal Son,L'enfant prodigue,1907,90,Drama

In [8]:
ti_only = df.drop(labels=['primaryTitle', 'originalTitle', 'startYear', 'runtimeMinutes', 'genres'], axis=1)

In [9]:
ti_only.head()

      tconst
0  tt0000009
1  tt0000147
2  tt0000502
3  tt0000574
4  tt0000591

In [10]:
ti_only.to_json('data/imdb_id_only.json')