In [1]:
import pandas as pd
df = pd.read_csv('processed_movies.csv')
df.head()

,tconst,primaryTitle,startYear,genres,actor_ids,averageRating,numVotes
0,tt0000009,Miss Jerry,1894,['Romance'],[],5.4,218.0
1,tt0000147,The Corbett-Fitzsimmons Fight,1897,"['Documentary', 'News', 'Sport']",[],5.3,549.0
2,tt0000502,Bohemios,1905,['\\N'],[],3.8,20.0
3,tt0000574,The Story of the Kelly Gang,1906,"['Action', 'Adventure', 'Biography']",[],6.0,969.0
4,tt0000591,The Prodigal Son,1907,['Drama'],[],5.6,30.0

In [2]:
import ast
# Function to safely parse string representations of lists/arrays
def parse_list_string(s):
    try:
        # Handle NaN or empty strings
        if pd.isna(s) or not isinstance(s, str) or not s.strip():
            return []
        # Safely evaluate the string literal
        parsed = ast.literal_eval(s)
        return parsed if isinstance(parsed, list) else []
    except (ValueError, SyntaxError):
        # Return empty list if parsing fails
        return []
df['genres'] = df['genres'].apply(parse_list_string)
df['actor_ids'] = df['actor_ids'].apply(parse_list_string)
df = df.set_index('tconst') 
df.head()

,primaryTitle,startYear,genres,actor_ids,averageRating,numVotes
tconst,,,,,,
tt0000009,Miss Jerry,1894,[Romance],[],5.4,218.0
tt0000147,The Corbett-Fitzsimmons Fight,1897,"[Documentary, News, Sport]",[],5.3,549.0
tt0000502,Bohemios,1905,[\N],[],3.8,20.0
tt0000574,The Story of the Kelly Gang,1906,"[Action, Adventure, Biography]",[],6.0,969.0
tt0000591,The Prodigal Son,1907,[Drama],[],5.6,30.0

In [3]:
df.to_json('data/processed_movies.json', orient='index')